.amarillo {
	color: greenyellow;
}

*{
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
}

h1{
	font-size: 55px;
}

#learn{
	font-family: "Arial", monospace;
}

.languages{
	background-color: mediumseagreen;
}

[class|="tools"]{
	border-style: solid;
	border-color: teal;
}

#image + ul{
	list-style-type: none;
}

section img{
	height: 130px;
	width: 130px;
	border-radius: 65px;
}

h3~p{
	text-align: center;
	text-decoration: none;
}

ul > li{
	letter-spacing: 9px;
		
}